body {
  background-color: blue;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-style: solid;
  border-radius: 0.35rem;
  box-shadow: 0 0 5px 2px rgba(0 0 0 0.3);
  transform-style: preserve-3d;
  transition: 250ms;
  transform: perspective(1000px);
}

/* flipped cards have this style */
.card.flip {
  transform: rotateY(180deg);
}

/* //the backs of cards have this style */
img {
  height: 80px;
  width: 80px;
  border-radius: 0.35rem;
}
